{% extend "layout.html" %}


{% block content %}
<link href="../static/css/achievements.css" rel="stylesheet">
  <div id="achievements" class="container text-center">
    
    <!-- br>
    <br>
    <br>
    <div class="row">
        <p style="font-size:40px;color:white" class="text-center"><strong> Achievements<strong></p>
    <hr>

     <p style="font-size:25px;color:white" class="text-center">Anger Management</p><br>
      <a href="AchiHtmls/AngerManagement.html">
        <img src="https://raw.githubusercontent.com/XS2929/idb/master/static/achi_pic/anger_management.jpg" class="img-circle person" alt="Random Name" width="500" height="400">
      </a>
    </div>
    <br>
    <hr>

    <div class="row">
      <p style="font-size:25px;color:black" class="text-center"><strong>Group Health Plan</strong></p><br>
      <a href="AchiHtmls/GroupHealthPlan.html"> 
        <img src="https://raw.githubusercontent.com/XS2929/idb/master/static/achi_pic/group_health_plan.jpg" class="img-circle person" alt="Random Name" width="500" height="400">
      </a>
    </div>
    <br>
    <hr>

    <div class="row">
      <p style="font-size:25px;color:white" class="text-center"><strong>Huge Rez</strong></p><br>
      <a href="AchiHtmls/HugeRez.html"> 
        <img src="https://raw.githubusercontent.com/XS2929/idb/master/static/achi_pic/huge_rez.jpg" class="img-circle person" alt="Random Name" width="500" height="400">
      </a>
    </div>
    <br>
    <hr>

    <div class="row">
      <p style="font-size:25px;color:black" class="text-center"><strong>Mine Sweeper</strong></p><br>
      <a href="AchiHtmls/MineSweeper.html"> 
        <img src="https://raw.githubusercontent.com/XS2929/idb/master/static/achi_pic/mine_sweeper.jpg" class="img-circle person" alt="Random Name" width="500" height="400">
      </a>
    </div>
    <br>
    <hr>

    <div class="row">
      <p style="font-size:25px;color:white" class="text-center"><strong>Simple Geometry</strong></p><br>
      <a href="AchiHtmls/SimpleGeometry.html"> 
        <img src="https://raw.githubusercontent.com/XS2929/idb/master/static/achi_pic/simple_geometry.jpg" class="img-circle person" alt="Random Name" width="500" height="400">
      </a>
    </div>
    <br>
    <hr>


    <div class="row">
      <p style="font-size:25px;color:black" class="text-center"><strong>The Dragon Is Sated</strong></p><br>
      <a href="AchiHtmls/TheDragonIsSated.html"> 
        <img src="https://raw.githubusercontent.com/XS2929/idb/master/static/achi_pic/the%20_dragon_is_sated.jpg" class="img-circle person" alt="Random Name" width="500" height="400">
      </a>
    </div>
    <br> -->
  </div>

{% endblock %}