<!-- Extend base.html here? -->
{% extend 'layout.html' %}
{%block content%}
<!-- Need to change the art thing below -->
<link rel="stylesheet" href="../static/css/heroes.css">
<div id="instance-main">
	<h1><strong>{{Heroes_Instance.name}}</strong></h1>
	<img src=
		{% if Heroes_Instance.art.lower() != "none" %}
			{{ Heroes_Instance.art }}
		{% else %}
			{{"https://wiki.gamedetectives.net/images/b/bf/Overwatch_logo.jpg"}}
		{% endif %}
	class="img-fluid">

	<h4><strong>Real Name: </strong>{{data.real_name}}</h4>
	<h4><strong>Description: </strong>{{data.description}}</h4>
	<h4><strong>Age: </strong>{{data.age}}</h4>
	<h4><strong>Difficulty: </strong>{{data.difficulty}}</h4>
	<h4><strong>Affiliation: </strong>{{data.affiliation}}</h4>
</div>

{% endblock%}