<!-- Extend base.html here? -->
{% extends 'layout.html' %}


{%block content%}
<!-- Need to change the art thing below -->
<link rel="stylesheet" href="../static/css/home.css">
<div id="instance-main">
	<br>
	<br>
	<br>

	<h1><strong>{{data.name}}</strong></h1>
	<img src= "{{data.url}}" class="img-fluid" width="500" height="500">

	<h4><strong>Name: </strong>{{data.name}}</h4>
	<h4><strong>Description: </strong>{{data.description}}</h4>
	<h4><strong>Age: </strong>{{data.age}}</h4>
	<h4><strong>Difficulty: </strong>{{data.difficulty}}</h4>
	<h4><strong>Affiliation: </strong>{{data.affiliation}}</h4>
</div>

{% endblock%}