<!DOCTYPE html>
<html lang="en">
<head>
  <title>Overwatch Central</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html"> <img src="../static/images/Overwatch_circle_logo.svg" width="40" height="40" alt="logo"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="{{ url_for('index') }}">HOME</a></li>
          <li><a href="{{ url_for('heroes') }}">HEROES</a></li>
          <li><a href="{{ url_for('achievements') }}">ACHIEVEMENTS</a></li>
          <li><a href="{{ url_for('rewards') }}">REWARDS</a></li>
          <li><a href="{{ url_for('player') }}">PLAYER</a></li>
          <li><a href="{{ url_for('about') }}"">ABOUT</a></li>
      </ul>
    </div>
  </div>
</nav>

{% block content %}
{% endblock %}

 </body>
</html>