<!-- Extend base.html here? -->
{% extend 'layout.html' %}
{%block content%}
<!-- Unsure of how to get data for players based on our json-->
<!-- Need to change the art thing below -->
<link rel="stylesheet" type="text/css" href="../static/css/players.css">
<div id="instance-main">
	<h1><strong>{{data.name}}</strong></h1>
	<img src= "{{data.url}}" class="img-fluid">

	<h4><strong>Name: </strong>{{data.name}}</h4>
	<h4><strong>Server: </strong>{{data.server}}</h4>
	<h4><strong>Level: </strong>{{data.level}}</h4>


</div>

{% endblock%}