{% extend "layout.html" %}


{% block content %}
  <link href="../static/css/players.css" rel="stylesheet">
  <div id="players" class="container text-center">
    <br>
    <br>
    <br>
    <div class="row">
      <p style="font-size:30px;color:black" class="text-center"><strong>KAFEEEEEE-2350</strong></p><br>
      <a href="PlayersHtmls/player1.html">
        <img src="https://raw.githubusercontent.com/XS2929/idb/master/static/Background_pic/Kafeeeeee.png" class="img-circle person" alt="Random Name" width="256" height="256">
      </a>
    </div>
    <br>
    <div class="row">
      <p style="font-size:30px;color:black" class="text-center"><strong>SILKTHREAD-1324</strong></p><br>
      <a href="PlayersHtmls/player2.html"> 
        <img src="https://raw.githubusercontent.com/XS2929/idb/master/static/Background_pic/Silkthread.png" class="img-circle person" alt="Random Name" width="256" height="256">
      </a>
    </div>
    <br>
    <div class="row">
      <p style="font-size:30px;color:black" class="text-center"><strong>FANCYHAT-4714</strong></p><br>
      <a href="PlayersHtmls/player3.html">
        <img src="https://raw.githubusercontent.com/XS2929/idb/master/static/Background_pic/FancyHat.png" class="img-circle person" alt="Random Name" width="256" height="256">
      </a>
    </div>
{% endblock %}
