<!-- Extend base.html here? -->
{% extend 'layout.html' %}
{%block content%}
<!-- Need to change the art thing below -->
<link rel="stylesheet" type="text/css" href="../static/css/reward.css">
<div id="instance-main">
	<h1><strong>{{data.name}}</strong></h1>
	<img src= "{{data.url}}" class="img-fluid">

	<h4><strong>Name: </strong>{data.name}}</h4>
	<h4><strong>Cost: </strong>{{data.cost.value}}</h4>
	<h4><strong>Type: </strong>{{data.type.name}}</h4>
	<h4><strong>Quality: </strong>{{data.quality.name}}</h4>

</div>

{% endblock%}