<!-- Extend base.html here? -->
{% extend 'layout.html' %}
{%block content%}
<!-- Need to change the art thing below -->
<link rel="stylesheet" type="text/css" href="../static/css/reward.css">
<div id="instance-main">
	<h1><strong>{{Reward_Instance.name}}</strong></h1>
	<img src=
		{% if Reward_Instance.art.lower() != "none" %}
			{{ Reward_Instance.art }}
		{% else %}
			{{"https://wiki.gamedetectives.net/images/b/bf/Overwatch_logo.jpg"}}
		{% endif %}
	class="img-fluid">

	<h4><strong>Name: </strong>{Reward_Instance.name}}</h4>
	<h4><strong>Cost: </strong>{{Reward_Instance.cost.value}}</h4>
	<h4><strong>Type: </strong>{{Reward_Instance.type.name}}</h4>
	<h4><strong>Quality: </strong>{{Reward_Instance.quality.name}}</h4>

</div>

{% endblock%}