<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Players</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/players.css">
  
</head>
<body background="https://raw.githubusercontent.com/XS2929/idb/master/static/Background_pic/BackgroundLogo.jpg">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"> <img src="../static/Overwatch_circle_logo.svg" width="40" height="40" alt="logo"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="index.html">HOME</a></li>
          <li><a href="Heroes.html">HEROES</a></li>
          <li><a href="Achievement.html">ACHIEVEMENTS</a></li>
          <li><a href="Reward.html">REWARDS</a></li>
          <li><a href="Players.html">PLAYER</a></li>
          <li><a href="About.html">ABOUT</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="players" class="container text-center">
    <br>
    <br>
    <br>
    <div class="row">
      <p style="font-size:30px;color:white" class="text-center"><strong>KAFEEEEEE-2350</strong></p><br>
      <a href="PlayersHtmls/player1.html">
        <img src="https://raw.githubusercontent.com/XS2929/idb/master/static/Background_pic/Kafeeeeee.png" class="img-circle person" alt="Random Name" width="256" height="256">
      </a>
    </div>
    <br>
    <div class="row">
      <p style="font-size:30px;color:white" class="text-center"><strong>SILKTHREAD-1324</strong></p><br>
      <a href="PlayersHtmls/player2.html"> 
        <img src="https://raw.githubusercontent.com/XS2929/idb/master/static/Background_pic/Silkthread.png" class="img-circle person" alt="Random Name" width="256" height="256">
      </a>
    </div>
    <br>
    <div class="row">
      <p style="font-size:30px;color:white" class="text-center"><strong>FANCYHAT-4714</strong></p><br>
      <a href="PlayersHtmls/player3.html">
        <img src="https://raw.githubusercontent.com/XS2929/idb/master/static/Background_pic/FancyHat.png" class="img-circle person" alt="Random Name" width="256" height="256">
      </a>
    </div>
  </div>
</body>
