{% extends "layout.html" %}


{% block content %}
<link href="../static/css/about.css" rel="stylesheet">
    <!-- Wrapper for slides -->
	<ul>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>
    <center><p style="font-size:50px"><strong> A website offering both Overwatch player performance statistics and in-game lore.</strong></p></center>
		<hr>
    <center><p style="font-size:40px"></strong>About our team, the Tiger Team.</b></p></center>
    <br>
    <br>
    <br>
		<center><li class="Person 1">

		<img src="https://raw.githubusercontent.com/XS2929/idb/master/app/static/images/about_pic/FREDERICK.jpg" width="600" height="420">
	    <br>
	    <b style="font-size:30px">FREDERICK COPES</b>
	    <p style="font-size:20px">22 year old game developer from Milwaukee, Wisconsin.</p>
      <p style="font-size:20px"><b>Responsibilities:</b> Technical Report, Trello setting and Back-end</p>
      <p style="font-size:20px"><b>Number of commits:</b> 3</p>
      <p style="font-size:20px"><b>Number of issues:</b> 6</p>
      <p style="font-size:20px"><b>Number of unit tests:</b> 0</p>
      <br>
	    <br>
		</li></center>
		
    <center><li class="Person 2">

		<img src="https://raw.githubusercontent.com/XS2929/idb/master/app/static/images/about_pic/XUJIAN.png" width="500" height="420">

	    <br>
	    <b style="font-size:30px">XUJIAN SHAO</b>
	    <p style="font-size:20px">A Junior in University of Texas at Austin. Loves smoking, sleeping and eating.</p>
      <p style="font-size:20px"><b>Responsibilities:</b> Back-end, Database and Technical Report</p>
      <p style="font-size:20px"><b>Number of commits:</b> 50</p>
      <p style="font-size:20px"><b>Number of issues:</b> 6</p>
      <p style="font-size:20px"><b>Number of unit tests:</b> 0</p>
	    <br>
		
		</li></center>
		
    <center><li class="Person 3">

		<img src="https://raw.githubusercontent.com/XS2929/idb/master/app/static/images/about_pic/CALVIN.jpg" width="450" height="420">
	    <br>
	    <b style="font-size:30px">CALVIN LIU</b>
	    <p style="font-size:20px">Calvin is a third-year student in University of Texas at Austin. Enjoys play handball and soccer. In his free time, he plays video games and watches YouTube videos. </p>
      <p style="font-size:20px"><b>Responsibilities:</b> Front-end, Technical Report and Debug</p>
      <p style="font-size:20px"><b>Number of commits:</b> 11</p>
      <p style="font-size:20px"><b>Number of issues:</b> 6</p>
      <p style="font-size:20px"><b>Number of unit tests:</b> 10</p>
      <br>
	    <br>
		</li></center>
	
  
    <center><li class="Person 4">

    <img src="https://raw.githubusercontent.com/XS2929/idb/master/app/static/images/about_pic/AUSTIN.JPG" width="450" height="420">
      <br>
      <b style="font-size:30px">AUSTIN SIU</b>
      <p style="font-size:20px">A senior student in University of Texas at Austin. Interested in new technologies</p>
      <p style="font-size:20px"><b>Responsibilities:</b> Back-end, API and Technical Report</p>
      <p style="font-size:20px"><b>Number of commits:</b> 34</p>
      <p style="font-size:20px"><b>Number of issues:</b> 6</p>
      <p style="font-size:20px"><b>Number of unit tests:</b> 0</p>
      <br>
      <br>
    </li></center>


 
    <center><li class="Person 5">

    <img src="https://raw.githubusercontent.com/XS2929/idb/master/app/static/images/about_pic/STEPHEN.jpg" width="350" height="420">
      <br>
      <b style="font-size:30px">STEPHEN QING</b>
      <p style="font-size:20px">Stephen is a third-year student in University of Texas at Austin. He enjoys playing basketball and video games. </p>
      <p style="font-size:20px"><b>Responsibilities:</b> Back-end, Technical Report and Hosting</p>
      <p style="font-size:20px"><b>Number of commits:</b> 4</p>
      <p style="font-size:20px"><b>Number of issues:</b> 6</p>
      <p style="font-size:20px"><b>Number of unit tests:</b> 0</p>
      <br>
      <br>
    </li></center>


    <center><li class="Person 6">

    <img src="https://raw.githubusercontent.com/XS2929/idb/master/app/static/images/about_pic/GRAHAM.png" width="350" height="420">
      <br>
      <b style="font-size:30px">GRAHAM BRYAN</b>
      <p style="font-size:20px">Graham has a B.S. in Aerospace Engineering from UT-Austin and is currently working for UT's Center For Space Research. He has interests in software engineering, exploring austin, and being outdoors.</p>
      <p style="font-size:20px"><b>Responsibilities:</b> Back-end, Front-end, Trello, Debug</p>
      <p style="font-size:20px"><b>Number of commits:</b> 9</p>
      <p style="font-size:20px"><b>Number of issues:</b> 0</p>
      <p style="font-size:20px"><b>Number of unit tests:</b> 0</p>
      <br>
      <br>
    </li></center>


   <br>
   <br>
   <br>
   <br>
   <hr>
   <center><li class="STATS">
   <b style="font-size:45px">STATS</b>
   <br>
   <br>
   <p style="font-size:20px"><strong>Number of commits:</strong> 213</p>
   <p style="font-size:20px"><strong>Number of issues:</strong> 30</p>
   <p style="font-size:20px"><strong>Number of unit tests:</strong> 10</p>
   <p style="font-size:20px"><strong><a href="https://github.com/XS2929/idb">GitHub Repository</a></strong></p>
   <p style="font-size:20px"><strong><a href="https://docs.xs2929.apiary.io">Apiary API</a></strong></p>
   <p style="font-size:20px"><strong><a href="https://trello.com/b/hw9EK61s/phase-1">Trello</a></strong></p>
   </li></center>
   
   <br>
   <br>
   <br>
   <br>
   <center><li class="Data">
   <b style="font-size:45px">Data</b>
   <br>
   <p style="font-size:20px"><strong><a href="https://github.com/SunDwarf/OWAPI/blob/master/api.md">SunDwarf Overwatch API</a></strong></p>
   <p style="font-size:20px">This server is a simple way to get read-only information about player statistics in the game Overwatch by Blizzard, we use "GET" to catch the data we need.</p>
   <p style="font-size:20px"><strong><a href="https://www.npmjs.com/package/overwatch-api">Overwatch API</a></strong></p>
   <p style="font-size:20px">An unofficial Overwatch HTTP API, built with NodeJS. We use "GET" to catch the data we need.</p>
  </li></center>

   <br>
   <br>
   <br>
   <br>
   <center><li class="Tools">
   <b style="font-size:45px">Tool</b>
   <br>
   <p><b>Bootstrap</b> We use Bootstrap to find HTML template for  our website.</p>
   <p><b>Apiary</b> We use Apiary to document our API</p>
   <p><b>GitHub</b> We use Apiary to hold code and do version control</p>
   <p><b>Flask</b> We use Flask for use of AWS.</p>
   <p><b>AWS</b> We use AWS for holding our website</p>
   <p><b>Slack</b> We use Slack for group communicating</p>
   <p><b>Trello</b> We use Trello for issue tracking</p>
   <p><b>PlanITPoker</b> We use PlanITPoker to plan the timing</p>
  </li></center>


 <center><li class="Report">
   <b style="font-size:45px">Report</b>
   <br>
   <p style="font-size:20px"><strong><a href="https://app.box.com/s/nfex0xezf9mxecxatk6y7cf4lz2apsz1">Technical Report</a></strong></p>
   <br>
   
  </li></center>


</div>
{% endblock %}

  
