{% extends 'layout.html' %}


{%block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/achievements.css') }}">
<br>
<br>
<body>
<center>
  <h2 class="entry-title">Achievements</h2>
  <center>
  <div class="row">
    <h3>Sort By</h3>
      <div class="my-button">
        <div class="col-md-5"></div>
        <div class="col-md-1">
          <button onclick="sortFunction('ascending')">Ascending</button>
        </div>
        <div class="col-md-1">
           <button onclick="sortFunction('descending')">Descending</button>
        </div>
        <div class="col-md-5"></div>
      </div>
  </div>
    <br>
    <hr>
  <div class="row">
    <h3>Filter By</h3>
    <div class="my-button">
      <div class="col-md-5"></div>
      <div class="col-md-1">
        <button onclick="filterFunction('Linked to Hero')">Linked to Hero</button>
      </div>
      <div class="col-md-1">
        <button onclick="filterFunction('No Linked to Hero')">No Linked to Hero</button>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
<br>
  <div id ="content">
    {% for item in output %}
      <div class ="col-md-3">
        <div class="filterable-item">
          <h3>{{item.name}}</h3>
          <a href = "/api/achievements/{{item.id}}"><img src="{{item.url}}" alt="" height="300" width="300"></a>
        </div>
      </div>
    {% endfor %}
    <hr>
  </div>


<div class="pagination">
{% for i in range((data|length/12)|round(0,'ceil')|int) %}
<button onclick="pageFunction({{i+1}})">{{i+1}}</button>
{% endfor %} 
</div>




<script>
function pageFunction(int) {
    window.location.href = "/api/achievements?page=" + int;
}
function sortFunction(str) {
    window.location.href = "/api/achievements?order=" + str + "&page=1";
}
function filterFunction(str) {
    window.location.href = "/api/achievements?filter=" + str+ "&page=1";
}
</script>





</center>




</body>

{%endblock%}