{% extends 'layout.html' %}


{%block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/achievements.css') }}">
<br>
<br>
<body>
<center>
  <h1 class="entry-title">Achievements</h1>
  <center>
  <div class="row">
  <h4>SORT BY:</h4>
  <div class="my-button">
    <button onclick="sortFunction('ascending')">Ascending</button>
    <button onclick="sortFunction('descending')">Descending</button>
  </div>
  <h4>FILTER BY:</h4>
  <div class="my-button">
    <button onclick="filterFunction('Linked to Hero')">Linked to Hero </button>
    <button onclick="filterFunction('Not Linked to Hero')">Not Linked to Hero </button>
  </div>
  </div>
<div class = "row">
  <div id ="content">
    {% for item in output %}
      <div class ="col-md-3">
        <div class="filterable-item">
          <h3>{{item.name}}</h3>
          <a href = "/api/achievements/{{item.id}}"><img src="{{item.url}}" alt="" height="300" width="300"></a>
        </div>
      </div>
    {% endfor %}
    <hr>
  </div>
</div>

<div class = "row">
  <div class="pagination">
  {% for i in range((data|length/12)|round(0,'ceil')|int) %}
  <button onclick="pageFunction({{i+1}})">{{i+1}}</button>
  {% endfor %} 
  </div>
</div>




<script>
function pageFunction(int) {
    window.location.href = "/api/achievements?page=" + int;
}
function sortFunction(str) {
    window.location.href = "/api/achievements?order=" + str + "&page=1";
}
function filterFunction(str) {
    window.location.href = "/api/achievements?filter=" + str+ "&page=1";
}
</script>





</center>




</body>

{%endblock%}