{% extends "layout.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/home.css') }}">

<style>
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary:visited {
  background: #fa9c1e !important;
}

.btn-primary {
  background: #2d2d30 !important;
  color: #d5d5d5;
  box-shadow: none;
  outline: 0 none;
  border: none; 
  border-color: transparent;
}

.dropdown-menu > li > a {
  color: #fa9c1e !important;
  border-color: transparent;
}

</style>

<!--loader -->
<div style="display:none;" id="myDiv"> 

    <br>
    <br>
    <br>

  <div class="container">
    <p>Hello {{ user }}</p>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Create
      </button>
      <div class="dropdown-menu">
        <li> <a class="dropdown-item" href="{{ url_for('views.createHero') }}">Hero </a></li>
        <li> <a class="dropdown-item" href="{{ url_for('views.createAchievement') }}">Achievement</a></li>
        <li> <a class="dropdown-item" href="{{ url_for('views.createPlayer') }}">Player</a></li>
        <li> <a class="dropdown-item" href="{{ url_for('views.createReward') }}">Reward</a></li>
      </div>
    </div>
    <div class="btn-group">
      <button id="btnGroupDrop2" type="button" class="btn btn-primary" onclick="window.location.href='{{ url_for('views.delete') }}';">
          Remove
      </button>
    </div>  

    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Edit
      </button>
      <div class="dropdown-menu">
        <li> <a class="dropdown-item" href="/editHero/{{0}}">Hero </a></li>
        <li> <a class="dropdown-item" href="/editAchievement/{{0}}">Achievement</a></li>
        <li> <a class="dropdown-item" href="/editPlayer/{{0}}">Player</a></li>
        <li> <a class="dropdown-item" href="/editReward/{{0}}">Reward</a></li>
      </div>
    </div>
  </div> <!-- container -->  
  <br>
  <br>
  <div class="container-fluid">
    <div class="row">
	<h3><strong>Achievements</strong></h3>
    {% if data[0] == []%}
    <br>
     <h4>You haven't created any achievements yet</h4> 
    {% endif %}  
    {% for item in data[0] %}
      <div class ="col-md-3">
        <div class="filterable-item">
          <h4>{{ item.name }}</h4>
          <a href = "/api/achievements/{{item.id}}"><img src="{{item.url}}" alt="" height="200" width="200"></a>
        </div>
      </div>
      {% endfor %}
      </div>
      <br>
      <div class="row">
    <h3><strong>Rewards</strong></h3>
    {% if data[1] == [] %}
     <br>
     <h4>You haven't created any rewards yet</h4> 
    {% endif %}
   {% for item in data[1] %}
      <div class ="col-md-3">
        <div class="filterable-item">
          <h3>{{ item.name }}</h3>
          <a href = "/api/rewards/{{item.id}}"><img src="{{item.url}}" alt="" height="200" width="200"></a>
        </div>
      </div>
      {% endfor %}
      </div>
      <br>
      <div class="row">
	  <h3><strong>Players</strong></h3>  
    {% if data[2] == [] %}
     <br>
     <h4>You haven't created any players yet</h4> 
    {% endif %}
    {% for item in data[2] %}
      <div class ="col-md-3">
        <div class="filterable-item">
          <h3>{{ item.name }}</h3>
          <a href = "/api/players/{{item.id}}"><img src="{{item.url}}" alt="" height="200" width="200"></a>
        </div>
      </div>
      {% endfor %}
      </div>
      <br>
    <div class="row">
		<h3><strong>Heroes</strong></h3> 
    {% if data[3] == [] %}
    <br>
   <h4>You haven't created any heroes yet</h4> 
    {% endif %} 
    {% for item in data[3] %}
      <div class ="col-md-3">
        <div class="filterable-item">
          <h3>{{ item.name }}</h3>
          <a href = "/api/heroes/{{item.id}}"><img src="{{item.url}}" alt="" height="200" width="200"></a>
        </div>
      </div>
      {% endfor %}
      </div>
     
      
  
  </div>


</div> <!-- Loader -->





{% endblock %}
