{% extends "layout.html" %}

{% block content %}
<style type="text/css">
  .signup-section .section-content h2 {
  font-size: 30px;
}

.signup-section .section-content {
  position: relative;
  top: 53px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  color: #3a3a3a;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input {
  border: none;
  border-bottom: 2px solid #4285f4;
  background-color: transparent;
  color: #3a3a3a;
  font-size: 18px;
  padding: 5px 0;
  width: 100%;
}

.form-group input:focus {
  outline: 0;
}

.form-group .error-message {
  margin: 10px 0;
  color: #db4437;
}

.form-group .error-message + input {
  border-bottom: 2px solid #db4437;
}

.error-message {
  color: #db4437;
}

.btn-primary:hover, .btn-primary:focus {
  background: #fa9c1e;
}

.btn-primary {
  background: #29292c;
  color: #ffffff;
  box-shadow: none;
  outline: 0 none;
  border: none; 
}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/home.css') }}">

  <main class="container createReward-section">
    <div class="section-content">
    <br>
    <br>
      <h2>Create an reward</h2>

      <form method="POST" action="/createReward">
        {{ form.hidden_tag() }}

        <div class="form-group">
          {{ form.name.label }}

          {% if form.name.errors %}
            {% for error in form.name.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.name }}
        </div>

        <div class="form-group">
          {{ form.cost.label }}

          {% if form.cost.errors %}
            {% for error in form.cost.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.cost }}
        </div>

        <div class="form-group">
          {{ form.url.label }}

          {% if form.url.errors %}
            {% for error in form.url.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.url }}
        </div>

        <div class="form-group">
          {{ form.quality.label }}

          {% if form.quality.errors %}
            {% for error in form.quality.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.quality }}
        </div>


        {{ form.submit(class="btn-primary") }}
      </form>
    </div>
  </main>
{% endblock %}