{% extends 'layout.html' %}


{%block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/heroes.css') }}">

<br>
<br>
<body>
<center>
  <h2 class="entry-title">Heroes</h2>
  <div class="row">
    <h3>Sort By</h3>
    <div class="my-button">
      <div class="col-md-5"></div>
      <div class="col-md-1">
        <a href="{{url_for('views.heroes_asc')}}" class ="btn btn-info" role="button">Ascending</a>
      </div>
      <div class="col-md-1">
        <a href="{{url_for('views.heroes_desc')}}" class ="btn btn-info" role="button">Descending</a>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
  <br>
  <hr>
  <div class="row">
    <h3>Filter by Affiliation</h3>
      <div class="my-button">
      <div class="col-md-4"></div>
      <div class="col-md-2">
        <a href="{{url_for('views.heroes_overwatch')}}" class ="btn btn-info" role="button">Heroes Affiliated With Overwatch</a>
      </div>
      <div class="col-md-2">
        <a href="{{url_for('views.heroes_others')}}" class ="btn btn-info" role="button">Heroes Not Affiliated With Overwatch</a>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
    <br>
      {% for item in data %}
        <div class ="col-md-4">
          <div class="filterable-item">
            <h3>{{item.name}}</h3>
              <a href = "/api/heroes/{{item.id}}"><img src="{{item.url}}" alt="" height="300" width="300"></a>
           </div>
        </div>
      {% endfor %}
    </div>

<div class="pagination">
    <button onclick="myFunction(1)">1</button>
    <button onclick="myFunction(2)">2</button>
    <button onclick="myFunction(3)">3</button>
</div>
<script>
function myFunction(i) {
    window.location.href = "/api/heroes?page=" + i
}
</script>


</center>
</body>

{%endblock%}