{% extends 'layout.html' %}


{%block content%}

<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/heroes.css') }}">

<br>
<br>
<body>
<center>
  <h1 class="entry-title">Heroes</h1>
  <div class="row">
  <h4>SORT BY:</h4>
  <div class="my-button">
    <button onclick="sortFunction('ascending')">Ascending</button>
    <button onclick="sortFunction('descending')">Descending</button>
  </div>
  <h4>FILTER BY AFFILIATION:</h4>
  <div class="my-button">
    <button onclick="filterFunction('Overwatch')">Heroes Affiliated With Overwatch</button>
    <button onclick="filterFunction('nonOverwatch')">Heroes Not Affiliated With Overwatch</button>
  </div>
  </div>
    <div class="row">
      {% for item in output %}
        <div class ="col-md-4">
          <div class="filterable-item">
            <h3>{{item.name}}</h3>
              <a href = "/api/heroes/{{item.id}}"><img src="{{item.url}}" alt="" height="300" width="300"></a>
           </div>
        </div>
      {% endfor %}
    </div>
  </div>

<div class="row">
  <div class="pagination">
  {% for i in range((data|length/9)|round(0,'ceil')|int) %}
  <button onclick="pageFunction({{i+1}})">{{i+1}}</button>
  {% endfor %} 
  </div>
</div>


<script>
function pageFunction(int) {
    window.location.href = "/api/heroes?page=" + int;
}
function sortFunction(str) {
    window.location.href = "/api/heroes?order=" + str + "&page=1";
}
function filterFunction(str) {
    window.location.href = "/api/heroes?filter=" + str+ "&page=1";
}
</script>


</center>
</body>

{%endblock%}