{% extends 'layout.html' %}


{%block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/heroes.css') }}">


<br>
<br>
<body>
<center>
  <h2 class="entry-title">Check out our top 10 PC players!</h2>
  <div class="row">
    <h3>Sort By</h3>
    <div class="my-button">
      <div class="col-md-5"></div>
      <div class="col-md-1">
        <a href="{{url_for('views.players_asc')}}" class ="btn btn-info" role="button">Ascending</a>
      </div>
      <div class="col-md-1">
        <a href="{{url_for('views.players_desc')}}" class ="btn btn-info" role="button">Descending</a>
      </div>
      <div class="col-md-5"></div>
    </div>
  </div>
  <br>
  <hr>
  <div class="row">
      <h3>Filter by </h3>
        <div class="my-button">
          <a href="{{url_for('views.players')}}" class ="btn btn-info" role="button">Show All</a>
        </div>
      </div>
    </div>
  </div>
  <div id ="content">
  {% for item in data %}
    <div class ="col-md-4">
      <div class="filterable-item">
        <h3>{{item.name}}</h3>
        <a href = "/api/players/{{item.id}}"><img src="{{item.url}}" alt="" height="300" width="300"></a>
      </div>
    </div>
  {% endfor %}
    

    
<!-- <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="{{url_for('players',sorting='asc',page=1)}}">1</a>
      <a href="{{url_for('players',sorting='asc',page=2)}}">2</a>
      <a href="{{url_for('players',sorting='asc',page=3)}}">3</a>
      <a href="{{url_for('players',sorting='asc',page=4)}}">4</a>
      <a href="{{url_for('players',sorting='asc',page=5)}}">5</a>
      <a href="{{url_for('players',sorting='asc',page=6)}}">6</a>
      <a href="#">&raquo;</a>
</div> -->


</center>
</body>

{%endblock%}players