<!-- Extend base.html here? -->
{% extends 'layout.html' %}
{%block content%}
<!-- Unsure of how to get data for players based on our json-->
<!-- Need to change the art thing below -->
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/players.css') }}">
<div id="instance-main">
	<br>
	<br>
	<br>
	<center>
	<h1><strong>{{data.name}}</strong></h1>
	<img src= "{{data.url}}" class="img-fluid" width="200" height="200">

	<h4><strong>Name: </strong>{{data.name}}</h4>
	<h4><strong>Server: </strong>{{data.server}}</h4>
	<h4><strong>Level: </strong>{{data.level}}</h4>
	<h4><strong>Most Played Hero: <a href = "/api/heroes/{{data.hero_id}}"></strong>{{data.hero.name}}</a>
	<h4><strong>Achievements:</strong> </h4>
	<div id ="Achievements"
        <hr>
        {% for item in data.achievements %}
        <div class ="col-md-4">
			<div class="filterable-item">
	          <h3><a href = "/api/achievements/{{item.id}}">{{item.name}}</a></h3>
			</div>
		</div>
        {% endfor %}
        </div>
	
	</center>

</div>

{% endblock%}