{% extends 'layout.html' %}


{%block content%}

<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/players.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/home.css') }}">


<div style="display:none;" id="myDiv"> <!-- loader -->

<br>
<br>
<center>

  <h1 class="entry-title">Check out our top PC players!</h1>

  <div class="row">
    <h4>SORT BY:</h4>
    <div class="my-button">
        <button href="{{url_for('views.players_asc')}}" role="button">Ascending</button>
        <button href="{{url_for('views.players_desc')}}" role="button">Descending</button>
    </div>
  </div>

  <div class="row">
      <h4>FILTER BY:</h4>
        <div class="my-button">
          <button href="{{url_for('views.players')}}" role="button">Show All</button>
        </div>
  </div>

  <div id ="content">
  {% for item in data %}
    <div class ="col-md-4">
      <div class="filterable-item">
        <h3>{{item.name}}</h3>
        <a href = "/api/players/{{item.id}}"><img src="{{item.url}}" alt="" height="300" width="300"></a>
      </div>
    </div>
  {% endfor %}
  </div>  
</center>

</div> <!--loader -->

{%endblock%}