<!-- Extend base.html here? -->
{% extends 'layout.html' %}
{%block content%}
<!-- Need to change the art thing below -->
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/reward.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/home.css') }}">
<div id="instance-main">
	<br>
	<br>
	<br>
	<center>
	<h1><strong>{{data.name}}</strong></h1>
	<img src= "{{data.url}}" class="img-fluid" width="500" height="500">

	<h4><strong>Name: </strong>{{data.name}}</h4>
	<h4><strong>Cost: </strong>{{data.cost}} credit</h4>
	<h4><strong>Quality: </strong>{{data.quality}}</h4>
	<h4><strong>Achievement: {%if data.achievement_id%}
		<a href = "/api/achievements/{{data.achievement_id}}"> </strong>{{data.achievement.name}}</a>
		{%else%}
		<a href = "/api/achievements"></strong>No achievement available</a>
		{%endif%}
	</h4>
	<h4><strong>Hero: {%if data.hero_id%}
		<a href = "/api/heroes/{{data.hero_id}}"></strong>{{data.hero.name}}</a>
		{%else%}
		<a href = "/api/heroes"></strong>No hero available</a>
		{%endif%}
	</h4>
</center>
</div>

{% endblock%}