{% extends "layout.html" %}


{% block content %}
  <link href="../static/css/reward.css" rel="stylesheet">
  <div id="reward" class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <br>
        <h1 class="page-header">Rewards</h1>
      </div>
    </div>
    <!-- <br>
    <br>
    <br>
    <div class="row">
      <p style="font-size:30px;color:blue" class="text-center"><strong>Pixel Mercy</strong></p><br>
      <a href="RewardHtmls/Pixel_Mercy.html">
        <img src="../static/images/Reward_pic/Spray_Mercy_Pixel.png" class="img-circle person" alt="Random Name" width="500" height="400">
      </a>
    </div>
    <div class="row">
      <p style="font-size:30px;color:blue" class="text-center"><strong>Cute Mercy</strong></p><br>
      <a href="RewardHtmls/Cute_Mercy.html">
        <img src="../static/images/Reward_pic/Spray_Mercy_Cute.png" class="img-circle person" alt="Random Name" width="500" height="400">
      </a>
    </div>
    <br>
    <div class="row">
      <p style="font-size:30px;color:blue" class="text-center"><strong>Pixel Winston</strong></p><br>
      <a href="RewardHtmls/Pixel_Winston.html"> 
        <img src="../static/images/Reward_pic/Spray_Winston_Pixel.png" class="img-circle person" alt="Random Name" width="500" height="400">
      </a>
    </div>
    <br>
    <div class="row">
      <p style="font-size:30px;color:blue" class="text-center"><strong>Cute Winston</strong></p><br>
      <a href="RewardHtmls/Cute_Winston.html">
        <img src="../static/images/reward_pic/Spray_Winston_Cute.png" class="img-circle person" alt="Random Name" width="500" height="400">
      </a>
    </div>
    <br>
    <div class="row">
      <p style="font-size:30px;color:blue" class="text-center"><strong>Cute Hanzo</strong></p><br>
      <a href="RewardHtmls/Cute_Hanzo.html">
        <img src="../static/images/reward_pic/Spray_Hanzo_Cute.png" class="img-circle person" alt="Random Name" width="500" height="400">
      </a>
    </div>
    <br>
    <div class="row">
      <p style="font-size:30px;color:blue" class="text-center"><strong>Pixel Hanzo</strong></p><br>
      <a href="RewardHtmls/Pixel_Hanzo.html">
        <img src="../static/images/reward_pic/Spray_Hanzo_Pixel.png" class="img-circle person" alt="Random Name" width="500" height="400">
      </a>
    </div>
    <br>
    <div class="row">
      <p style="font-size:30px;color:blue" class="text-center"><strong>Beyond the Moon</strong></p><br>
      <a href="RewardHtmls/Beyond_The_Moon.html">
        <img src="../static/images/reward_pic/Spray_Beyond_The_Moon.png" class="img-circle person" alt="Random Name" width="500" height="400">
      </a>
    </div> -->
  </div>

{% endblock %}