{% extends 'layout.html' %}


{%block content%}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/reward.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/home.css') }}">

<div style="display:none;" id="myDiv"> <!-- loader -->

<br>
<br>

<center>
  <h1 class="entry-title">Rewards</h1>
  <div class="row">
  <h4>SORT BY:</h4>
  <div class="my-button">
    <button onclick = "sortFunction('Low Cost')">Low Cost</button>
    <button onclick = "sortFunction('High Cost')">High Cost</button>
  </div>
  <h4>FILTER BY AFFILIATION:</h4>
  <div class="my-button">
    <button onclick = "filterFunction('From Achievements')">From Achievements</button>
    <button onclick = "filterFunction('Not From Achievements')">Not From Achievements</button>
  </div>
  </div>
<div class = "row">
  <div id ="content"
    <hr>
    {% for item in output %}
      <div class ="col-md-2">
        <div class="container-fluid">
          <h6>{{item.name}}</h6>
          <a href = "/api/rewards/{{item.id}}"><img src="{{item.url}}" alt="" height="80" width="80"></a>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<div class = "row">    
  <div class="pagination">
  {% for i in range((data|length/54)|round(0,'ceil')|int) %}
  <button onclick="pageFunction({{i+1}})">{{i+1}}</button>
  {% endfor %} 
  </div>
</div>

</center>

</div> <!--loader -->

<script>
function pageFunction(int) {
    window.location.href = "/api/rewards?page=" + int;
}
function sortFunction(str) {
    window.location.href = "/api/rewards?order=" + str + "&page=1";
}
function filterFunction(str) {
    window.location.href = "/api/rewards?filter=" + str + "&page=1";
}
</script>




{%endblock%}