{% extends 'layout.html' %}


{%block content%}
<link rel="stylesheet" type="text/css" href="../static/css/heroes.css">

<style>
.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.my-button a {
    color: black;
    float: center;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

.my-button a.active {
    background-color: #4CAF50;
    color: white;
}

.my-button a:hover:not(.active) {background-color: #ddd;}

</style>


<br>
<br>
<body>
<center>
          <h2 class="entry-title">Rewards</h2>
           <center>
           <h3>Sort By</h3>
           
           
          <div class="my-button">
            <a href="{{url_for('views.rewards_asc')}}">Cost Low to High</a>
          </div>
          <br>
          <div class="my-button">
            <a href="{{url_for('views.rewards_desc')}}">Cost High to Low</a>
          </div>
       
      </center>
        <div id ="content"
            <hr>
            {% for item in data %}
            <div class ="col-md-4">
              <div class="filterable-item">
                <h3>{{item.name}}</h3>
                <a href = "/api/rewards/{{item.id}}"><img src="{{item.url}}" alt="" height="300" width="300"></a>
              </div>
            </div>
            {% endfor %}

        </div>
      </div>
    
<!-- <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="{{url_for('rewards',sorting='asc',page=1)}}">1</a>
      <a href="{{url_for('rewards',sorting='asc',page=2)}}">2</a>
      <a href="{{url_for('rewards',sorting='asc',page=3)}}">3</a>
      <a href="{{url_for('rewards',sorting='asc',page=4)}}">4</a>
      <a href="{{url_for('rewards',sorting='asc',page=5)}}">5</a>
      <a href="{{url_for('rewards',sorting='asc',page=6)}}">6</a>
      <a href="#">&raquo;</a>
</div> -->


</center>
</body>

{%endblock%}rewards